extends layout

block content
 h1= title
 p Num of rows:#{query.rows}
 p Num of columns:#{query.cols}
 - var rows=Number(query.rows)
 - var cols=Number(query.cols)
 if !(Number.isInteger(rows)) ||  !(Number.isInteger(rows))
  p Given values are not integers 
 else if rows > 4
  p Number of rows should be less than 4
 else if cols > 4
  p Number of columns should be less than 4
 else
  table#outer
   - for(let i=0; i<query.rows; i++) {
    tr#middle
     - for(let j=0; j<query.cols; j++) {
      td= i+j
     -}
   -}